/* Element Categorization */
.reactive-nonmetal {
  background-color: yellow;
}

.noble-gas {
  background-color: pink;
}

.alkali-metal {
  background-color: burlywood;
}

.alkaline-earth-metal {
  background-color: orange;
}

.metalloid {
  background-color: lightgreen;
}

.post-transition-metal {
  background-color: plum;
}

.transition-metal {
  background-color: lightblue;
}

.lanthanide {
  background-color: lightseagreen;
}

.actinide {
  background-color: coral;
}

.unknown {
  background-color: lightgray;
}
