* {
  font-family: "Roboto", "Arial";
  box-sizing: border-box;
}

/* Header */
body {
  background-color: white;
}

h1 {
  margin: 15px;
  text-align: center;
  color: midnightblue;
}

/* Grid */
#periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 4px;
}

/* Block styling */
.grid-item {
  position: relative;
  width: 5vw;
  height: 5vw;
}

/* Enlarge on Hover */
.grid-item:hover {
  transform: scale(2);
  /* transform-origin: top right; */
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(47, 144, 255, 0.8);
  z-index: 1;
}

/* Hidden Blocks */
.placeholder {
  visibility: hidden;
}

/* Element Info */
.atomic-number {
  position: absolute;
  top: 0.9vw;
  left: 1vw;
  right: auto;
  transform: translate(-50%, -50%);
  margin-top: 0.2vw;
  font-size: 0.8vw;
  line-height: 1;
  height: 1vw;
  color: midnightblue;
}

.el-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  margin-top: -4px;
  font-size: 2vw;
  line-height: 1;
  height: 1vw;
  color: midnightblue;
}

.el-name {
  position: absolute;
  top: 90%;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  margin-top: -1.5px;
  font-size: 0.6vw;
  line-height: 1;
  height: 1vw;
  color: midnightblue;
}

/* Media Queries */
@media only screen and (max-width: 750px) {
  .atomic-number {
    top: 0.9vw;
    left: 0.9vw;
    margin-top: 0px;
    font-size: 0.7vw;
  }
}
