* {
  font-family: "Roboto", "Arial";
  box-sizing: border-box;
}

/* Buttons */
#page-1-btn,
#other-pages-btn,
.light-toggle {
  text-align: center;
  border: 0;
  padding: 4px;
  font-size: 0.9vw;
  cursor: pointer;
  text-decoration: none;
}

.light-toggle {
  float: right;
  background-color: black;
  color: lightyellow;
}

.current {
  background-color: midnightblue;
  color: burlywood;
}

.unselected {
  background-color: burlywood;
  color: midnightblue;
}

.close-btn {
  background-color: lemonchiffon;
  color: red;
  border: 0;
  cursor: pointer;
  font-size: 1vw;
  margin-bottom: 5px;
}

/* Header */
body {
  background-color: white;
}

h1 {
  margin: 1.5vw;
  text-align: center;
  color: midnightblue;
  font-size: 2.5vw;
}

h2 {
  text-align: center;
  font-size: 1.5vw;
  color: midnightblue;
}

/* Data Book Pages */
#page-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 2.5vw;
  font-size: 1.5vw;
  border: 1px solid black;
  border-radius: 0;
  text-align: center;
}

.page-image {
  display: block;
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

/* Grid */
#periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-row-gap: 0.4vw;
}

/* Block styling */
.grid-item {
  position: relative;
  width: 5vw;
  height: 5vw;
}

/* Enlarge on Hover */
.grid-item:hover {
  transform: scale(2);
  /* transform-origin: top right; */
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  z-index: 1;
  cursor: pointer;
}

/* Hidden Blocks */
.placeholder {
  visibility: hidden;
}

/* Element Info */
.atomic-number,
.el-symbol,
.el-name,
.common-charges {
  position: absolute;
  right: auto;
  transform: translate(-50%, -50%);
  line-height: 1;
  height: 1vw;
  color: midnightblue;
}

.atomic-number {
  top: 15%;
  left: 15%;
  margin-top: 0px;
  font-size: 0.8vw;
}

.common-charges {
  top: 16%;
  left: 78%;
  margin-top: 0px;
  font-size: 0.7vw;
}

.el-symbol {
  top: 50%;
  left: 50%;
  margin-top: -10%;
  font-size: 2vw;
}

.el-name {
  top: 90%;
  left: 50%;
  margin-top: 0px;
  font-size: 0.7vw;
}

/* Groups */
#groups {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}

.group-number {
  text-align: center;
  width: 5vw;
  height: 1vw;
  background-color: lightgray;
  margin-bottom: 1vw;
  font-size: 0.8vw;
}

/* Media Queries */
@media only screen and (max-width: 750px) {
  .atomic-number {
    top: 20%;
    left: 20%;
    font-size: 0.7vw;
  }

  .common-charges {
    top: 20%;
    left: 75%;
    margin-top: 0px;
    font-size: 0.6vw;
  }
}
