* {
  font-family: "Roboto", "Arial";
  box-sizing: border-box;
}

h1 {
  margin: 15px;
  text-align: center;
  color: midnightblue;
}

#periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 4px;
}

/* Block styling */
.grid-item {
  position: relative;
  width: 5vw;
  height: 5vw;
  background-color: rgb(173, 216, 230);
  cursor: pointer;
}

/* Enlarge on Hover */
.grid-item:hover {
  transform: scale(2);
  /* transform-origin: top right; */
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(173, 216, 230, 0.8);
  z-index: 1;
}

/* Hidden Blocks */
.placeholder {
  visibility: hidden;
}

/* Element Info */
.atomic-number {
  position: absolute;
  top: 10%;
  left: 10%;
  right: auto;
  transform: translate(-50%, -50%);
  margin-top: 0.5vh;
  font-size: 1vw;
  line-height: 1;
  height: 1vw;
  color: midnightblue;
}

.el-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  margin-top: -4px;
  font-size: 2vw;
  line-height: 1;
  height: 1vw;
  color: midnightblue;
}

.el-name {
  position: absolute;
  top: 90%;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  margin-top: -4px;
  font-size: 1vh;
  line-height: 1;
  height: 1vw;
  color: midnightblue;
}

/* Element Trait Styles */
